html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
  font-family: sans-serif;
  background-color: gray;
}

.i {
    font-style: italic;
}

select {
  max-width: 80%;
}
fieldset.login {
    margin: 1em auto;
    width: 35%;
    background-color: cadetblue;
    border: 1px solid white;
    border-radius: 1px 36px;
    form {
      margin: 0 auto;
      width: 39%;
      input.submit {
          margin: 2em 0;
          position: relative;
          left: 26%;
      }
  }
  div {
    margin: 1em 0;
}
}
.container{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    position: relative;
    max-width: 50%;
    padding: 2em;
}

header {
    padding: 1em;
    * {
        display: inline-block;
    }
    h1 {
        margin-right: 1em;
    }
    .div-logout {
        position: absolute;
        right: 1em;
        top: 1.1em;
    }
}

.menu-top {
    a {
        text-decoration: none;
  color: coral;
    }
}

table {
  width: 99%;
  margin: 0 auto;
  text-align: center;
}

.menu-hightlight {
    font-size: 140%;
    font-weight: bold;
    margin: 13px;
}
.tip {
  margin: 1em;
  background-color: bisque;
  padding: 1em;
  display: inline-block;
  border: 2px dashed orange;
}
.tip:before {
  content: "Tip: ";
  font-weight: bold;
}
.sortable:hover {
      background-color: aliceblue;
} 

a.hacerEnvio {
  color: cornflowerblue;
}

.fieldset-envio {
    font-size: larger;
}
.nombre-cliente {
    color: brown;
}
footer {
    clear: both;
    margin: 1em;
    text-align: center;
}